<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>
      <div
        class="navbar-nav ms-auto"
        style="
          border: 0.1rem solid #cccccc;
          padding: 0.5rem;
          border-radius: 50px;
        "
      >
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search destinations"
            style="
              border-radius: 25px;
              padding: 0.5rem 2rem 0.5rem 1rem;
              font-size: 0.8rem;
            "
          />
          <button
            class="btn btn-search"
            type="submit"
            style="border-radius: 50%; font-size: 0.8rem"
          >
            <i class="fa-solid fa-search"></i>
          </button>
        </form>
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>
        <li class="nav-item">
          <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><strong>Sign up</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><strong>Log in</strong></a>
        </li>
        <% } %> <% if(currUser){ %>
        <li class="nav-item me-5">
          <a class="nav-link" href="/logout"><strong>Log out</strong></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
